* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #dddddd;
}
.d-flex {
  display: flex;
}
.logo-1 {
  font-size: 40px;
  font-family: "Poppins";
  margin-top: 48px;
  margin-left: 52px;
}
.logo-text {
  font-size: 13px;
  font-family: "Montserrat";
  color: #b3b3b3;
  margin-left: 52px;
}
.dot {
  color: #0081ff;
}
.logo-about {
  justify-content: space-between;
  margin-right: 81.68px;
}
.about-text-1 {
  color: #1c1c1c;
  font-family: "Poppins";
  font-size: 158.3px;
}
.about-text-2 {
  position: absolute;
  font-family: "Poppins";
  top: 5.5rem;
  font-size: 2em;
  color: #373737;
}
.about-me {
  position: relative;
}
.soc-media-icons {
  align-items: center;
  margin-top: 59.43px;
  gap: 20px;
}
.text-1 {
  font-size: 49.7px;
}
.text-2 {
  font-size: 71px;
}
.text-3 {
  font-size: 23.29px;
}
.info {
  margin-top: 273.27px;
  padding-bottom: 100px;
}
.header-slider {
  width: 400px;
  height: 500px;
  margin-right: 20px;
}
.my-img-slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.user-info-slider {
  align-items: center;
  justify-content: center;
}
.percent {
  color: #e93656;
}
.satisfied-clients span {
  margin-right: 10px;
}
.red-line {
  width: 340px;
  height: 6px;
  background-color: #e93656;
  opacity: 100%;
  margin-bottom: 47px;
}
.clients-statis p {
  font-size: 24px;
  font-family: "Montserrat";
  margin-bottom: 20px;
}
.satisfied-clients {
  display: flex;
  justify-content: flex-end;
  padding-top: 181.46px;
  padding-right: 97px;
}
.user-info h1 {
  font-size: 40px;
}
.user-info h2 {
  font-size: 14px;
  color: #daae19;
}
.about-me-text {
  font-size: 15px;
  width: 334px;
  height: 149px;
}
.hire-me {
  font-size: 15px;
  background-color: #e93656;
  width: 152px;
  height: 50px;
  color: #ffffff;
  padding: 13px 46.33px 17px 53.67px;
  cursor: pointer;
  font-family: "Glacial Indifference";
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 218px;
}
.about-me h1 {
  margin-bottom: 6px;
  font-family: "Glacial Indifference";
}
.about-me h2 {
  margin-bottom: 33px;
  font-family: "Muli";
}
.about-me p {
  margin-bottom: 60px;
  font-family: "Muli";
}
.my-photo img {
  width: 430px;
  height: 603px;
  object-fit: cover;
  margin-top: 135px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skills-bar {
  margin-left: 50px;
  width: 310px;
  padding: 5px;
  font-family: "Glacial Indifference";
  margin-top: 194px;
}
.skills-bar p {
  margin-top: 20px;
  font-family: "Glacial Indifference";
}
.skills-bar p span {
  color: #e93656;
}
.progress {
  width: 310px;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 5px;
}
.progress .progress-bar {
  width: 0%;
  opacity: 0;
  height: 100%;
  background-color: #e93656;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
}
.progress-bar span {
  position: absolute;
  top: 0;
  right: 0;
}
.slidericons {
  display: flex;
}
.slidericons li {
  max-width: 30px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}
.slidericons ul {
  align-items: center;
}
.soc-icons {
  margin-top: 93.24px;
}
.soc-icons a {
  color: #6b6b6b;
}
.soc-icons li {
  height: 40px;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  cursor: pointer;
}
.soc-icons a:hover {
  color: white;
  transition: 0.5s;
}
.soc-icons li:hover {
  background-color: #15263e;
  transition: 0.5s;
}
.my-info {
  background-color: #131a36;
  height: 210px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 100px;
}
.my-info-2 {
  display: flex;
  align-items: center;
  padding: 60px 41px;
}
.phone-icon:hover {
  background-color: #e93656;
  border-radius: 100%;
  transition-duration: 1s;
  transition-delay: 0.5ms;
  cursor: pointer;
}
.my-phone {
  margin-left: 30px;
}
.my-phone h3 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 15px;
}
.my-phone h4 {
  color: #ffffff;
  font-size: 14px;
}
.adress-icon {
  cursor: pointer;
}
.my-adress {
  margin-left: 30px;
}
.my-adress h3 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 15px;
}
.my-adress h4 {
  color: #ffffff;
  font-size: 14px;
}
.my-email {
  margin-left: 30px;
}
.my-email h3 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 15px;
}
.my-email h4 {
  color: #ffffff;
  font-size: 14px;
}
