* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* Header content */
header {
  background-color: #dddddd;
}
.d-flex {
  display: flex;
}
.logo-1 {
  font-size: 40px;
  font-family: "Poppins";
  margin-top: 48px;
  margin-left: 52px;
}
.logo-text {
  font-size: 13px;
  font-family: "Montserrat";
  color: #b3b3b3;
  margin-left: 52px;
}
.dot {
  color: #0081ff;
}
.logo-about {
  justify-content: space-between;
  margin-right: 81.68px;
}
.about-text-1 {
  color: #1c1c1c;
  font-family: "Poppins";
  font-size: 158.3px;
}
.about-text-2 {
  position: absolute;
  font-family: "Poppins";
  top: 5.5rem;
  font-size: 2em;
  color: #373737;
}
.about-me {
  position: relative;
}
.soc-media-icons {
  align-items: center;
  margin-top: 59.43px;
  gap: 20px;
}
.text-1 {
  font-size: 49.7px;
}
.text-2 {
  font-size: 71px;
}
.text-3 {
  font-size: 23.29px;
}
.info {
  margin-top: 273.27px;
  padding-bottom: 100px;
}
.header-slider {
  width: 400px;
  height: 500px;
  margin-right: 20px;
}
.my-img-slider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.user-info-slider {
  align-items: center;
  justify-content: center;
}
.percent {
  color: #e93656;
}
.satisfied-clients span {
  margin-right: 10px;
}
.red-line {
  width: 340px;
  height: 6px;
  background-color: #e93656;
  opacity: 100%;
  margin-bottom: 47px;
}
.clients-statis p {
  font-size: 24px;
  font-family: "Montserrat";
  margin-bottom: 20px;
}
.satisfied-clients {
  display: flex;
  justify-content: flex-end;
  padding-top: 181.46px;
  padding-right: 97px;
}
.user-info h1 {
  font-size: 40px;
}
.user-info h2 {
  font-size: 14px;
  color: #daae19;
}
.about-me-text {
  font-size: 15px;
  width: 334px;
  height: 149px;
}
.hire-me {
  font-size: 15px;
  background-color: #e93656;
  width: 152px;
  height: 50px;
  color: #ffffff;
  padding: 13px 46.33px 17px 53.67px;
  cursor: pointer;
  font-family: "Glacial Indifference";
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 218px;
}
.about-me h1 {
  margin-bottom: 6px;
  font-family: "Glacial Indifference";
}
.about-me h2 {
  margin-bottom: 33px;
  font-family: "Muli";
}
.about-me p {
  margin-bottom: 60px;
  font-family: "Muli";
}
.my-photo img {
  width: 430px;
  height: 603px;
  object-fit: cover;
  margin-top: 135px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.skills-bar {
  margin-left: 50px;
  width: 310px;
  padding: 5px;
  font-family: "Glacial Indifference";
  margin-top: 194px;
}
.skills-bar p {
  margin-top: 20px;
  font-family: "Glacial Indifference";
}
.skills-bar p span {
  color: #e93656;
}
.progress {
  width: 310px;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 5px;
}
.progress .progress-bar {
  width: 0%;
  opacity: 0;
  height: 100%;
  background-color: #e93656;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
}
.progress-bar span {
  position: absolute;
  top: 0;
  right: 0;
}
.slidericons {
  display: flex;
}
.slidericons li {
  max-width: 30px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}
.slidericons ul {
  align-items: center;
}
.soc-icons {
  margin-top: 93.24px;
}
.soc-icons a {
  color: #6b6b6b;
}
.soc-icons li {
  height: 40px;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  cursor: pointer;
}
.soc-icons a:hover {
  color: white;
  transition: 0.5s;
}
.soc-icons li:hover {
  background-color: #15263e;
  transition: 0.5s;
}

/* My information */
.my-info {
  background-color: #131a36;
  height: 210px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 100px;
}
.my-info-2 {
  display: flex;
  align-items: center;
  padding: 60px 41px;
}
.phone-icon:hover {
  background-color: #e93656;
  border-radius: 100%;
  transition-duration: 1s;
  transition-delay: 0.5ms;
  cursor: pointer;
}
.my-phone {
  margin-left: 30px;
}
.my-phone h3 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "Glacial Indifference";
}
.my-phone h4 {
  color: #ffffff;
  font-size: 14px;
  font-family: "Muli";
}
.adress-icon {
  cursor: pointer;
}
.my-adress {
  margin-left: 30px;
}
.my-adress h3 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "Glacial Indifference";
}
.my-adress h4 {
  color: #ffffff;
  font-size: 14px;
  font-family: "Muli";
}
.my-email {
  margin-left: 30px;
}
.my-email h3 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "Glacial Indifference";
}
.my-email h4 {
  color: #ffffff;
  font-size: 14px;
  font-family: "Muli";
}

/* Services */
.section-2 {
  margin-top: 203px;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-wrapper {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-item {
  margin-top: 203px;
  border: 1px solid lightgray;
  display: flex;
  width: 290px;
  height: 360px;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-bottom: -192px;
  margin-left: 10px;
}
.services-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-1 img {
  margin-bottom: 15px;
}
.service-hover {
  display: none;
}
.service-hover h3 {
  margin-bottom: 15px;
}
.service-item:hover {
  background-color: #131a36;
}
.service-item:hover .services-1 {
  display: none;
}
.service-item:hover .service-hover {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  width: 80%;
  line-height: 1.7rem;
}
.services-1 p {
  font-size: 20px;
  font-family: "Glacial Indifference";
}
.service-hover h3 {
  font-family: "Glacial Indifference";
  font-size: 20px;
}
.service-hover p {
  font-family: "Muli";
  font-size: 14px;
}

/* Recomendations */
.recomendations {
  background-image: url("../Images/clip.jpg");
  background-color: #15263e;
  max-width: 2000px;
  width: 100%;
  height: 570px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
}
.recomendation-content {
  align-items: center;
  color: #fff;
  margin-right: 80px;
  flex-wrap: wrap;
}
.recomendation-text {
  display: flex;
  width: 497px;
  height: 78px;
  font-size: 15px;
  padding-right: 80px;
  font-family: Roboto;
}
.recomendation-img {
  vertical-align: middle;
  display: flex;
  width: 140px;
  height: 140px;
  padding-right: 60px;
  cursor: pointer;
  margin-right: 65px;
}
.borderimg {
  border: 2px dashed #ffffff;
  border-radius: 100%;
}
.recomendation-img :hover {
  border: 2px solid #e93656;
}
.recomendation-img img:hover {
  width: 140px;
}
.recomendation-btn {
  width: 13px;
  height: 13px;
  color: #ffffff00;
  border: 2px solid #ffffff;
  padding-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.rec-btn {
  display: flex;
  flex-direction: column;
}
.recomendation-btn:hover {
  border: 2px solid #e93656;
}
.person-info p {
  color: #e93656;
  margin-right: 100px;
  padding-top: 20px;
  font-family: Roboto;
}
.person-info h2 {
  color: #ffffff;
  padding-top: 20px;
  font-family: Glacial Indifference;
}

/* Latest Projects */
.project-item img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}
.latest-projects-content {
  display: flex;
  margin-left: 150px;
}
.latest-projects-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 100px;
}
.latest-projects-title {
  margin-left: 410px;
  margin-bottom: 20px;
  margin-top: 144px;
  font-family: Glacial Indifference;
}
.h1 {
  font-size: 70px;
  color: #2e2e2e;
  padding-bottom: 55px;
}
.latest-projects-nav {
  background-color: #15263e;
  height: 300px;
  width: 280px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-projects-nav li {
  padding: 5px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  font-family: Glacial Indifference;
}
.project-item {
  position: relative;
}

.project-item.hidden2 {
  display: none !important;
}
.latest-projects-nav li:hover {
  color: #e93656;
  transition: 0.5s;
}
.heart {
  width: 14px;
  height: 12px;
  margin-top: 100px;
  opacity: 1;
}
.img__wrap {
  position: relative;
}
.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 1;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  background-color: #15263e;
  color: #ffffff;
}

/* Articles */
.articles {
  max-width: 2000px;
  width: 100%;
  margin: auto;
  padding: auto;
  margin-top: 170px;
}
.articles-boxes {
  max-width: 2000px;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art-section {
  max-width: 2000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.art-first-section-box img {
  width: 580px;
  height: 550px;
}
.date {
  writing-mode: vertical-rl;
  transform: scale(-1);
  width: 100px;
  height: 550px;
  background-color: #15263e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.date h1 {
  color: #e93656;
}
.art-first-section-box {
  display: flex;
}
.art-first-section-text {
  width: 680px;
  height: 550px;
  background-color: #fafafa;
}
.art-first-section-text h5 {
  padding-top: 20px;
  padding-left: 15px;
  color: #888888;
  font-family: Muli;
}
.art-first-section-text h1 {
  padding-top: 20px;
  padding-left: 15px;
  color: #161616;
  font-family: Muli;
}
.art-first-section-text p {
  padding-top: 10px;
  padding-left: 15px;
  color: #494949;
  font-family: Glacial Indifference;
}
.art-first-section-text h4 {
  padding-top: 20px;
  padding-left: 15px;
  color: #494949;
  cursor: pointer;
  font-family: Muli;
}
.art-first-section-text h4:hover {
  color: #e93656;
  transition: 0.5s;
}
.iconborder {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 95px;
  height: 95px;
  margin: 20px 10px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}
.articles-img {
  object-fit: cover;
}
.iconborder:hover {
  background-color: #15263e;
  opacity: 0.8;
}
.articles-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.articles-title h6 {
  color: #2ed279;
  font-size: 13;
  font-family: Glacial Indifference;
}
.articles-title h1 {
  color: #2e2e2e;
  padding-top: 20px;
  font-size: 70px;
  font-family: Glacial Indifference;
}
.lasticons img {
  width: 100px;
  height: 70px;
}

/* Rosa Team */
.rosa-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Glacial Indifference";
  margin-bottom: 80px;
  margin-top: 169px;
}
.rosa-head h2 {
  font-size: 70px;
  font-weight: bold;
}
.rosa-head p {
  color: #2ed279;
  font-size: 14px;
  font-weight: bold;
}
.rosa-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 100px;
}
.rosa-invisible {
  display: none;
  border: 3px solid #dc143c;
  padding: 30px 20px;
}
.rosa-invisible p {
  max-width: 160px;
}
.rosa-decript {
  margin-right: 125px;
  transition: all 0.5s ease;
  margin-bottom: 30px;
}
.rosa-decript:hover .rosa-visible {
  display: none;
}
.rosa-decript:hover .rosa-invisible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CONTACT US */
.contact-section {
  background-image: url("../Images/map.jpg");
  position: relative;
  max-width: 2000px;
  width: 100%;
  height: 620px;
  margin: auto;
  padding: auto;
  margin-top: 100px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lastsection-cont {
  max-width: 2000px;
  width: 100%;
  height: 620px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.lastsection-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}
.lastsection-title h1 {
  color: #ffffff;
  font-family: Jaapokki;
}
.lastsection-title p {
  color: #eeeeee;
  font-family: Roboto;
}
.lastsection-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
input {
  width: 290px;
  height: 50px;
  outline: none;
  border: 0;
  padding: 20px 10px;
  font-family: Poppins;
}
textarea {
  max-width: 890px;
  width: 100%;
  max-height: 110px;
  height: 100%;
  margin-top: 10px;
  outline: none;
  border: 0;
  padding: 20px 10px;
  font-family: Poppins;
}
::placeholder {
  color: #515151;
  opacity: 1;
}
.sendbutton {
  width: 180px;
  height: 50px;
  margin-top: 50px;
  color: #e93656;
  background: no-repeat padding-box;
  border: 2px solid #e93656;
  opacity: 1;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-family: Glacial Indifference;
}
.sendbutton:hover {
  background-color: #e93656;
  color: #fff;
  letter-spacing: 1px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 100%;
  height: 90vh;
  max-height: 600px;
  max-width: 1080px;
  background-color: #fff;
  margin-top: 5%;
  vertical-align: middle;
  padding: 90px 20px;
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.field_info {
  display: grid;
  gap: 10px;
  width: 70%;
  padding: 20px;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

/* footer */
.footer-container {
  width: 100%;
  color: #fff;
}
.footer-wrapper {
  grid-template-rows: 90% 10%;
}
.upper-footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: #282828;
  padding: 2em;
  font-family: "Roboto";
  text-align: center;
}
.down-footer {
  align-items: center;
  justify-content: center;
  background: #171717;
  padding: 2em;
  font-family: "Muli";
  text-align: center;
}
.footer-icons img {
  margin: 0.3em;
  width: 25px;
  height: 25px;
}
h1 {
  font-size: 3em;
}
h1 span {
  color: #e93656;
}
